@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");


.image-container {
  position: absolute;
  width: 130px;
  height: 130px;
  left: -5px;
  bottom: -40px;
  z-index: 100000000000000000000000000000000000000000000000000000000; /* Optional: To ensure it's above other elements */
  border-style: none;
  opacity: .35;
}

.image-container2 {
  position: absolute;
  width: 130px;
  height: 130px;
  left: -5px;
  bottom: 0px;
  z-index: 100000000000000000000000000000000000000000000000000000000; /* Optional: To ensure it's above other elements */
  border-style: none;
  opacity: .35;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px); /* Adjust this value for more or less bounce */
  }
  100% {
    transform: translateY(0);
  }}
/* Define a base scale factor */
:root {
  --scale-factor: 1; /* Adjust this value as needed */
}

/* Base styles for image-container3 */
.image-container3 {
  position: absolute;
  width: calc(130px * var(--scale-factor));
  height: calc(130px * var(--scale-factor));
  right: 5%;
  bottom: 0px;
  z-index: 100000000000000000000000000000000000000000000000000000000; /* Optional: To ensure it's above other elements */
  border-style: none;
  transform: scaleX(-1);
}

/* Media query for devices with width greater than 850px */
@media (min-width: 850px) {
  .image-container,
  .image-container2 {
    width: calc(250px * var(--scale-factor));
    height: calc(250px * var(--scale-factor));
  }

  .image-container3 {
    width: calc(250px * var(--scale-factor));
    height: calc(250px * var(--scale-factor));
  }

  .checkbox-wrapper {
    width: calc(150px * var(--scale-factor));
    height: calc(150px * var(--scale-factor));
  }
}

/* Additional styles for devices with width less than 850px */
@media (max-width: 849px) {
  .image-container3 {
    width: calc(150px * var(--scale-factor)); /* Adjust as needed */
    height: calc(150px * var(--scale-factor)); /* Adjust as needed */
  }

  .checkbox-wrapper {
    width: calc(50px * var(--scale-factor)); /* Adjust as needed */
    height: calc(50px * var(--scale-factor)); /* Adjust as needed */
  }
}



  .layer {
    position: absolute;
    width: 90%;
       height: 90%;
       z-index: 0; /* Ensure the image is below the donut border */
       object-fit: cover;
  }


/* For Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
html {
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
}

/* For IE and Edge */
body {
    -ms-overflow-style: none;
}


        .chat-window {
            width: 100%;
            height: 90vh;
            overflow-y: scroll;
            color: var(--main-color);
            font-size: 1.3em;
            margin: 10px 10px 10px 10px;
            white-space: pre-wrap;
        }

:root {
  --app-container: #f3f6fd;
  --main-color: #1f1c2e;
  --secondary-color: #4A4A4A;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover: #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #1ff1c2e;
  --message-btn: #fff;
}

.dark:root {
  --app-container: #1f1d2b; 
  --app-container: #111827;
  --main-color: #fff;
  --secondary-color: rgba(255,255,255,.8);
  --projects-section: #1f2937;
  --link-color: rgba(255,255,255,.8);
  --link-color-hover: rgba(195, 207, 244, 0.1);
  --link-color-active-bg: rgba(195, 207, 244, 0.2);
  --button-bg: #1f2937;
  --search-area-bg: #1f2937;
  --message-box-hover: #243244;
  --message-box-border: rgba(255,255,255,.1);
  --star: #ffd92c;
  --light-font: rgba(255,255,255,.8);
  --more-list-bg: #2f3142;
  --more-list-bg-hover: rgba(195, 207, 244, 0.1);
  --more-list-shadow: rgba(195, 207, 244, 0.1);
  --message-btn: rgba(195, 207, 244, 0.1);
}

html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
  display: flex;
  color: var(--main-color);
  justify-content: center;
  background-color: var(--app-container);
}

button, a {
  cursor: pointer;
}

.navbar {
  width: 50px;
  display: flex;
margin-left: 5px;
  flex-direction: column;
  height: 100%;
  background-color: var(--app-container);
  transition: 0.2s;

}

.app-container {
  width: 100%;
  display: flex;
  left: 60px;
  flex-direction: column;
  height: 100%;
  background-color: var(--app-container);
  transition: 0.2s;
  max-width: 1800px;
}
.app-container button, .app-container input, .app-container optgroup, .app-container select, .app-container textarea {
  font-family: "DM Sans", sans-serif;
}
.app-content {
  display: flex;
  height: 100%;
  overflow: hidden;
  padding: 16px 24px 24px 0;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 24px;
  position: relative;
}
.app-header-left, .app-header-right {
  display: flex;
  align-items: center;
}
.app-header-left {
  flex-grow: 1;
}
.app-header-right button {
  margin-left: 10px;
}
.app-name {
  color: var(--main-color);
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 32px;
}

.mode-switch {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}



.add-btn {
  color: #fff;
  background-color: var(--button-bg);
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-btn {
  color: var(--main-color);
  padding: 0;
  border: 0;
  background-color: transparent;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-left: 2px solid #ddd;
}
.profile-btn img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 4px;
}
.profile-btn span {
  color: var(--main-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.page-content  {
  flex: 1;
  width: 100%;
}

.app-sidebar {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-sidebar-link {
  color: var(--main-color);
  color: var(--link-color);
  margin: 6px 0;
  transition: 0.2s;
  border-radius: 50%;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-sidebar-link:hover {
  background-color: var(--link-color-hover);
  color: var(--link-color-active);
}
.app-sidebar-link.active {
  background-color: var(--link-color-active-bg);
  color: var(--link-color-active);
}

.projects-section {
  flex: 2;
  background-color: var(--projects-section);
  border-radius: 22px;
  padding: 0px 4px 4px 10px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.projects-section-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}
.projects-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  color: var(--main-color);
}
.projects-section-header p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  opacity: 0.9;
  margin: 0;
  color: var(--main-color);
}
.projects-section-header .time {
  font-size: 20px;
}

.projects-status {
  display: flex;
}

.item-status {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}
.item-status:not(:last-child) .status-type:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translatey(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
}

.status-number {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--main-color);
}

.status-type {
  position: relative;
  padding-right: 24px;
  color: var(--secondary-color);
}

.view-actions {
  display: flex;
  align-items: center;
}

.view-btn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: var(--main-color);
  margin-left: 8px;
  transition: 0.2s;
}
.view-btn.active {
  background-color: var(--link-color-active-bg);
  color: var(--link-color-active);
}
.view-btn:not(.active):hover {
  background-color: var(--link-color-hover);
  color: var(--link-color-active);
}




.star-checkbox input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}
.star-checkbox label {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dark .star-checkbox {
  color: var(--secondary-color);
}
.dark .star-checkbox input:checked + label {
  color: var(--star);
}
.star-checkbox input:checked + label svg {
  fill: var(--star);
  transition: 0.2s;
}

.message-line {
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0;
  color: var(--secondary-color);
  opacity: 0.7;
}
.message-line.time {
  text-align: right;
  margin-bottom: 0;
}

.project-boxes {
  margin: 2px 2px;
  overflow-y: auto;
}
.project-boxes.jsGridView {
  display: flex;
  flex-wrap: wrap;
}
.project-boxes.jsGridView .project-box-wrapper {
  width: 33.3%;
}
.project-boxes.jsListView .project-box-wrapper {
  width: 95.3%;
}
.project-boxes.jsListView .project-box {
  display: flex;
  border-radius: 10px;
  position: relative;
}
.project-boxes.jsListView .project-box > * {
  margin-right: 24px;
}
.project-boxes.jsListView .more-wrapper {
  position: absolute;
  right: 16px;
  top: 16px;
}
.project-boxes.jsListView .project-box-header {
  order: 2;
}
.project-boxes.jsListView .project-box-footer {
  order: 3;
  padding-top: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.project-boxes.jsListView .project-box-footer:after {
  display: none;
}
.project-boxes.jsListView .participants {
  margin-bottom: 8px;
  display: none;
}
.project-boxes.jsListView .project-box-content-header p {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.project-boxes.jsListView .project-box-header > span {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 12px;
}
.project-boxes.jsListView .box-progress-wrapper {
  order: 3;
  flex: 1;
}

.project-box {
  --main-color-card: #dbf6fd;
  border-radius: 30px;
  padding: 16px;
  background-color: var(--main-color-card);
  animation: pulse2 8s infinite;

}
.project-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  color: var(--main-color);
}
.project-box-header span {
  color: #4A4A4A;
  opacity: 0.7;
  font-size: 14px;
  line-height: 16px;
}
.project-box-content-header {
  text-align: center;
  margin-bottom: 16px;
}
.project-box-content-header p {
  margin: 0;
}
.project-box-wrapper {
  padding: 8px;
  transition: 0.2s;
}

.project-btn-more {
  padding: 0;
  height: 14px;
  width: 34px;
  height: 24px;
  position: relative;
  background-color: transparent;
  border: none;
  flex-shrink: 0;
  /*&:after, &:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--main-color);
    opacity: .8;
    left: 50%;
    transform: translatex(-50%);
  }

  &:before { top: 0;}
  &:after { bottom: 0; }*/
}

.more-wrapper {
  position: relative;
}

.box-content-header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  opacity: 0.7;
}

.box-content-subheader {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.7;
}


.box-progress {
  display: block;
  height: 4px;
  border-radius: 6px;
}
.box-progress2 {
  display: block;
  position: absolute;
  z-index: 9999999999999999999999999999999999999999;
  height: 4px;
  border-radius: 6px;
}
.box-progress-bar {
  text-align: right;
  width: 100%;
  height: 4px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  margin: 8px 0;
  animation: pulse2 12s infinite;
}
.box-progress-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
}
.box-progress-percentage {
  text-align: right;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.project-box-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  position: relative;
}
.project-box-footer:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: calc(100% + 32px);
  top: 0;
  left: -16px;
  height: 1px;
}

.participants {
  display: flex;
  align-items: center;
}
.participants img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.participants img:not(:first-child) {
  margin-left: -8px;
}

.add-participant {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.days-left {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  border-radius: 20px;
  flex-shrink: 0;
  padding: 6px 16px;
  font-weight: 700;
  animation: pulse 8s infinite;
}

.mode-switch.active .moon {
  fill: var(--main-color);
}


@media screen and (max-width: 980px) {
  .project-boxes.jsGridView .project-box-wrapper {
  }

  .status-number, .status-type {
    font-size: 14px;
  }

  .status-type:after {
    width: 4px;
    height: 4px;
  }

  .item-status {
    margin-right: 0;
  }
}


@media screen and (max-width: 720px) {


  .add-btn, .notification-btn {
    width: 20px;
    height: 20px;
  }
  .add-btn svg, .notification-btn svg {
    width: 16px;
    height: 16px;
  }

  .app-header-right button {
    margin-left: 4px;
  }
}
@media screen and (max-width: 520px) {
  .projects-section {
    overflow: auto;
  }

  .project-boxes {
    overflow-y: visible;
  }


  .app-content {
    padding: 16px 12px 24px 12px;
  }

  .status-number, .status-type {
    font-size: 10px;
  }

  .view-btn {
    width: 24px;
    height: 24px;
  }

  .app-header {
    padding: 16px 10px;
  }

  .search-input {
    max-width: 120px;
  }

  .project-boxes.jsGridView .project-box-wrapper {
    width: 100%;
  }

  .projects-section {
    padding: 24px 16px 0 16px;
  }

  .profile-btn img {
    width: 24px;
    height: 24px;
  }

  .app-header {
    padding: 10px;
  }

  .projects-section-header p,
.projects-section-header .time {
    font-size: 18px;
  }

  .status-type {
    padding-right: 4px;
  }
  .status-type:after {
    display: none;
  }

  .search-input {
    font-size: 14px;
  }

  .box-content-header {
    font-size: 12px;
    line-height: 16px;
  }

  .box-content-subheader {
    font-size: 12px;
    line-height: 16px;
  }

  .project-boxes.jsListView .project-box-header > span {
    font-size: 10px;
  }

  .box-progress-header {
    font-size: 12px;
  }

  .box-progress-percentage {
    font-size: 10px;
  }

  .days-left {
    font-size: 8px;
    padding: 6px 6px;
    text-align: center;
  }

  .project-boxes.jsListView .project-box > * {
    margin-right: 10px;
  }

  .project-boxes.jsListView .more-wrapper {
    right: 2px;
    top: 10px;
  }
}


.button-container {
  position: absolute;
  top: 5px;
  width: 100%; /* Full width of the container */
  display: flex;
}

.button-container .button {
  border: 1px solid black; /* For visual distinction */
  margin-right: 0px; 
}

.button-container .button.flexible {
  flex: 1; /* Allow the first button to grow and fill available space */
  /* Ensure that the button stretches to fill the space */
}

.button-container .button.fixed-width {
  width: 100px; /* Fixed width for the second button */
}



/* Style for individual buttons */
.open-modal {
  text-align: center;
  border: 2px solid black;
  background: transparent;
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  padding: .5em 1em;
  font-weight: bold;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  animation: pulse 8s infinite;
  margin-right: 10px; /* Adds 10px margin on the right side */
}



.open-modal:hover {
  background: #D95952;
}


      @keyframes pulse {
      0% {
      opacity:1;
      }

      40% {
      opacity:0.8;
      box-shadow:0px 0px 15px 0px;
      }

      60% {
      opacity:0.7;
      box-shadow:0px 0px 3px 0px;
      }

      100%{
      opacity:1;
      box-shadow:none;
      }
      }

      @keyframes pulse2 {
        0% {
          box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.35);
        }
  
        33% {
        box-shadow:0px 0px 6px 0px rgba(0, 0, 0, 0.55);
        }
  
        66% {
        box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.35);
        }
  
        100%{
          box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.35);
        }
        }



      .open-modal2 {
        text-align: center;
        border: 2px solid black;
        background: transparent;
        color: var(--main-color);
        text-transform: uppercase;
        border-radius: 5px;
        letter-spacing: 4px;
        font-size: 14px;
        padding: .5em 1em;
        font-weight: bold;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
        animation: pulse 8s infinite;
        margin-bottom: 5px; /* Adds 10px margin on the right side */
        z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999;
      }
      
      
      
      .open-modal2:hover {
        background: #D95952;
      }
      
      
            @keyframes pulse {
            0% {
            opacity:1;
            }
      
            40% {
            opacity:0.8;
            box-shadow:0px 0px 15px 0px;
            }
      
            60% {
            opacity:0.7;
            box-shadow:0px 0px 3px 0px;
            }
      
            100%{
            opacity:1;
            box-shadow:none;
            }
            }

         .row {
  display: flex;
  flex-wrap: wrap;
}
#transcription {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}
#counters {
height: 60px;
overflow: auto; /* Allow scrolling */
scrollbar-width: none; /* For Firefox */
}

#counters::-webkit-scrollbar {
display: none; /* For Chrome, Safari, and newer versions of Edge */
}
#controls {
  margin-bottom: 20px;
}
.counter {
  margin-top: 10px;
}
.highlight {
  background-color: yellow;
}
#transcription {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  height: 30px;
  overflow-y: auto;
}
#history {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  height: 50px;
  overflow-y: auto;
}
#countHistory {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  height: 250px;
  overflow-y: auto;
}
.history-item, .count-history-item {
  margin-bottom: 10px;
}
#addWordSection {
  margin-top: 20px;
}
/* New red-highlighted line style */
.fallacy-line {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}


svg.happy .face {
  -webkit-animation: upAndDown 0.8s ease infinite;
          animation: upAndDown 0.8s ease infinite;  
}

svg.happy .scaleFace {
  transform-origin: 35px 20px;
  transform: rotate(12deg);
}


.svg-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: 800px) {
  .svg-container {
    width: 120px; /* Fixed width for small screens */
    height: 120px; /* Fixed height for small screens */
  }
}

@media (max-width: 799px) {
  .svg-container {
    width: 80px; /* Fixed width for small screens */
    height: 80px; /* Fixed height for small screens */
  }
}

svg.sad, svg.neutral, svg.fine, svg.happy {
  width: 100%; /* Ensures SVGs fill the container's width */
  height: auto; /* Maintain aspect ratio */
}

svg.sad .face {
  animation: leftToRight 0.4s linear infinite alternate-reverse;
}

svg.sad .left-eye, svg.sad .right-eye {
  opacity: 1;
  transform-origin: 0 1px;
  -webkit-animation: 
    blink 3s linear infinite,
    blinkSqueeze 3s linear infinite;
          animation: 
    blink 3s linear infinite,
    blinkSqueeze 3s linear infinite;
}

svg.sad .mouth {
  padding-top: 20px;
}

svg.neutral .face {
  -webkit-animation: upAndDown 6s ease infinite;
          animation: upAndDown 6s ease infinite; 
}

svg.neutral .left-eye, svg.neutral .right-eye {
  opacity: 1;
  transform-origin: 0 1px;
  -webkit-animation: 
    blink 3s linear infinite,
    blinkSqueezeTwice 3s linear infinite;
          animation: 
    blink 3s linear infinite,
    blinkSqueezeTwice 3s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

svg.neutral .mouth {
  animation: scaleX 2s ease infinite alternate-reverse;
}

svg.fine .face-container {
  -webkit-animation: rotateLeftToRight 3s infinite;
          animation: rotateLeftToRight 3s infinite;
}

svg.fine .face-upAndDown {
  -webkit-animation: fineUpAndDown 3s infinite;
          animation: fineUpAndDown 3s infinite;
}

svg.fine .left-eye, svg.fine .right-eye {
  opacity: 1;
  transform-origin: 0 1px;
  -webkit-animation: 
    blink 3s linear infinite,
    blinkSqueeze 3s linear infinite;
          animation: 
    blink 3s linear infinite,
    blinkSqueeze 3s linear infinite;
}

@-webkit-keyframes rotateLeftToRight {
0% { transform: rotate(15deg); }
50% { transform: rotate(-15deg); }
100% { transform: rotate(15deg); }
}

@keyframes rotateLeftToRight {
0% { transform: rotate(15deg); }
50% { transform: rotate(-15deg); }
100% { transform: rotate(15deg); }
}

@-webkit-keyframes fineUpAndDown {
0% { transform: translate(0, 0); }
25% { transform: translate(0, -1px); }
50% { transform: translate(0, 0); }
75% { transform: translate(0, -1px); }
100% { transform: translate(0, 0); }
}

@keyframes fineUpAndDown {
0% { transform: translate(0, 0); }
25% { transform: translate(0, -1px); }
50% { transform: translate(0, 0); }
75% { transform: translate(0, -1px); }
100% { transform: translate(0, 0); }
}

@-webkit-keyframes upAndDown {
0% { transform: translate(0, -1px); }
50% { transform: translate(0, 2px); }
100% { transform: translate(0, -1px); }
}

@keyframes upAndDown {
0% { transform: translate(0, -1px); }
50% { transform: translate(0, 2px); }
100% { transform: translate(0, -1px); }
}

@-webkit-keyframes leftToRight {
0% { transform: translate(-1px, 4px); }
100% { transform: translate(1px, 4px); }
}

@keyframes leftToRight {
0% { transform: translate(-1px, 4px); }
100% { transform: translate(1px, 4px); }
}

@-webkit-keyframes leftToRightWide {
0% { transform: translate(-5px, 1px); }
100% { transform: translate(2px, 1px); }
}

@keyframes leftToRightWide {
0% { transform: translate(-5px, 1px); }
100% { transform: translate(2px, 1px); }
}

@-webkit-keyframes scaleX {
0% { transform: translate(0, 0) scale(1, 1); }
100% { transform: translate(-9px, 0) scale(2, 1); }
}

@keyframes scaleX {
0% { transform: translate(0, 0) scale(1, 1); }
100% { transform: translate(-9px, 0) scale(2, 1); }
}

@-webkit-keyframes scaleUpAndDown {
0% { transform: scale(1, 1); }
100% { transform: scale(1, 1.2); }
}

@keyframes scaleUpAndDown {
0% { transform: scale(1, 1); }
100% { transform: scale(1, 1.2); }
}

@-webkit-keyframes blink {
0% { opacity: 1; }
45% { opacity: 1; }
50% { opacity: 0; }
55% { opacity: 1; }
100% { opacity: 1; }
}

@keyframes blink {
0% { opacity: 1; }
45% { opacity: 1; }
50% { opacity: 0; }
55% { opacity: 1; }
100% { opacity: 1; }
}

@-webkit-keyframes blinkSqueeze {
0% { transform: scale(1, 1); }
45% { transform: scale(1, 1); }
50% { transform: scale(1, 0); }
55% { transform: scale(1, 1); }
100% { transform: scale(1, 1); }
}

@keyframes blinkSqueeze {
0% { transform: scale(1, 1); }
45% { transform: scale(1, 1); }
50% { transform: scale(1, 0); }
55% { transform: scale(1, 1); }
100% { transform: scale(1, 1); }
}

@-webkit-keyframes blinkSqueezeTwice {
0% { transform: scale(1, 1); }
45% { transform: scale(1, 1); }
50% { transform: scale(1, 0); }
55% { transform: scale(1, 1); }
60% { transform: scale(1, 0); }
65% { transform: scale(1, 1); }
100% { transform: scale(1, 1); }
}

@keyframes blinkSqueezeTwice {
0% { transform: scale(1, 1); }
45% { transform: scale(1, 1); }
50% { transform: scale(1, 0); }
55% { transform: scale(1, 1); }
60% { transform: scale(1, 0); }
65% { transform: scale(1, 1); }
100% { transform: scale(1, 1); }
}

.right-eye, .left-eye {
  transition: cx 0.5s ease, cy 0.5s ease;
}


.text-content {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 60px;
}


/* Emote class styles */
.emote {
  position: absolute;
  width: 24px;
  height: 24px;
  transition: opacity 0.5s;
}

/* Falling animation */
.falling {
  position: absolute;
  animation: fall var(--animation-duration) ease-in forwards;
  --horizontal-distance: 0px; /* Default value */
  border-radius: 30%; /* Adds a radius for rounded corners */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* White glow effect */
}

@keyframes fall {
  0% {
    opacity: 1; /* Fully visible at the start */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* White glow at the start */
  }
  70% {
    opacity: 0; /* Fully transparent at the end */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0); /* Fade out glow */
  }
  100% {
    transform: translateY(100vh) translateX(var(--horizontal-distance));
    opacity: 0; /* Fully transparent at the end */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0); /* Fade out glow */
  }
}



.svg-container2 {
  z-index: 9999999999999999999999999999;
  width: 18px;
  height: 18px;
  display: inline-block;
  overflow: hidden; /* Ensure the SVG doesn't overflow the container */
  position: absolute; /* Required for absolute positioning of SVG inside */
}

.svg-container3 {
  z-index: 9999999999; /* Adjust z-index to a reasonable value */
  width: 10%;
  height: 44px;
  top: 0px;
  display: block;
  position: absolute; /* Required for absolute positioning of SVG inside */
}

#emoteWidth {
  background-color: #fff;
  border-radius: 30%;
}


/* Define the keyframes for the shake animation */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Define the class for the shake animation */
.shake-animation {
  animation: shake 2s;
}

/* Define the keyframes for the shake animation with horizontal flip */
@keyframes shake2 {
  0% { transform: scaleX(-1) translate(1px, 1px) rotate(0deg); }
  10% { transform: scaleX(-1) translate(-1px, -2px) rotate(-1deg); }
  20% { transform: scaleX(-1) translate(-3px, 0px) rotate(1deg); }
  30% { transform: scaleX(-1) translate(3px, 2px) rotate(0deg); }
  40% { transform: scaleX(-1) translate(1px, -1px) rotate(1deg); }
  50% { transform: scaleX(-1) translate(-1px, 2px) rotate(-1deg); }
  60% { transform: scaleX(-1) translate(-3px, 1px) rotate(0deg); }
  70% { transform: scaleX(-1) translate(3px, 1px) rotate(-1deg); }
  80% { transform: scaleX(-1) translate(-1px, -1px) rotate(1deg); }
  90% { transform: scaleX(-1) translate(1px, 2px) rotate(0deg); }
  100% { transform: scaleX(-1) translate(1px, -2px) rotate(-1deg); }
}

/* Define the class for the shake animation with horizontal flip */
.shake2-animation {
  animation: shake2 2s;
}



@keyframes jump {
  0% { transform: translateY(0); }
  50% { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

/* Define the class for the jump animation */
.jump-animation {
  animation: jump 1s;
}

.flipped {
  transform: scaleX(-1); /* Flip horizontally */
}




.checkbox-input {

  display: none;
}

.checkbox-wrapper {
  position: absolute; /* Required for z-index to work */
}



