body {
  margin: 0;
  animation: bg 3s infinite;
}

@keyframes bg {
  0% {
    background: linear-gradient(0deg, #c89664 40%, #6496c8 100%);
  }
  1% {
    background: linear-gradient(3.6deg, #c89664 40%, #6496c8 100%);
  }
  2% {
    background: linear-gradient(7.2deg, #c89664 40%, #6496c8 100%);
  }
  3% {
    background: linear-gradient(10.8deg, #c89664 40%, #6496c8 100%);
  }
  4% {
    background: linear-gradient(14.4deg, #c89664 40%, #6496c8 100%);
  }
  5% {
    background: linear-gradient(18deg, #c89664 40%, #6496c8 100%);
  }
  6% {
    background: linear-gradient(21.6deg, #c89664 40%, #6496c8 100%);
  }
  7% {
    background: linear-gradient(25.2deg, #c89664 40%, #6496c8 100%);
  }
  8% {
    background: linear-gradient(28.8deg, #c89664 40%, #6496c8 100%);
  }
  9% {
    background: linear-gradient(32.4deg, #c89664 40%, #6496c8 100%);
  }
  10% {
    background: linear-gradient(36deg, #c89664 40%, #6496c8 100%);
  }
  11% {
    background: linear-gradient(39.6deg, #c89664 40%, #6496c8 100%);
  }
  12% {
    background: linear-gradient(43.2deg, #c89664 40%, #6496c8 100%);
  }
  13% {
    background: linear-gradient(46.8deg, #c89664 40%, #6496c8 100%);
  }
  14% {
    background: linear-gradient(50.4deg, #c89664 40%, #6496c8 100%);
  }
  15% {
    background: linear-gradient(54deg, #c89664 40%, #6496c8 100%);
  }
  16% {
    background: linear-gradient(57.6deg, #c89664 40%, #6496c8 100%);
  }
  17% {
    background: linear-gradient(61.2deg, #c89664 40%, #6496c8 100%);
  }
  18% {
    background: linear-gradient(64.8deg, #c89664 40%, #6496c8 100%);
  }
  19% {
    background: linear-gradient(68.4deg, #c89664 40%, #6496c8 100%);
  }
  20% {
    background: linear-gradient(72deg, #c89664 40%, #6496c8 100%);
  }
  21% {
    background: linear-gradient(75.6deg, #c89664 40%, #6496c8 100%);
  }
  22% {
    background: linear-gradient(79.2deg, #c89664 40%, #6496c8 100%);
  }
  23% {
    background: linear-gradient(82.8deg, #c89664 40%, #6496c8 100%);
  }
  24% {
    background: linear-gradient(86.4deg, #c89664 40%, #6496c8 100%);
  }
  25% {
    background: linear-gradient(90deg, #c89664 40%, #6496c8 100%);
  }
  26% {
    background: linear-gradient(93.6deg, #c89664 40%, #6496c8 100%);
  }
  27% {
    background: linear-gradient(97.2deg, #c89664 40%, #6496c8 100%);
  }
  28% {
    background: linear-gradient(100.8deg, #c89664 40%, #6496c8 100%);
  }
  29% {
    background: linear-gradient(104.4deg, #c89664 40%, #6496c8 100%);
  }
  30% {
    background: linear-gradient(108deg, #c89664 40%, #6496c8 100%);
  }
  31% {
    background: linear-gradient(111.6deg, #c89664 40%, #6496c8 100%);
  }
  32% {
    background: linear-gradient(115.2deg, #c89664 40%, #6496c8 100%);
  }
  33% {
    background: linear-gradient(118.8deg, #c89664 40%, #6496c8 100%);
  }
  34% {
    background: linear-gradient(122.4deg, #c89664 40%, #6496c8 100%);
  }
  35% {
    background: linear-gradient(126deg, #c89664 40%, #6496c8 100%);
  }
  36% {
    background: linear-gradient(129.6deg, #c89664 40%, #6496c8 100%);
  }
  37% {
    background: linear-gradient(133.2deg, #c89664 40%, #6496c8 100%);
  }
  38% {
    background: linear-gradient(136.8deg, #c89664 40%, #6496c8 100%);
  }
  39% {
    background: linear-gradient(140.4deg, #c89664 40%, #6496c8 100%);
  }
  40% {
    background: linear-gradient(144deg, #c89664 40%, #6496c8 100%);
  }
  41% {
    background: linear-gradient(147.6deg, #c89664 40%, #6496c8 100%);
  }
  42% {
    background: linear-gradient(151.2deg, #c89664 40%, #6496c8 100%);
  }
  43% {
    background: linear-gradient(154.8deg, #c89664 40%, #6496c8 100%);
  }
  44% {
    background: linear-gradient(158.4deg, #c89664 40%, #6496c8 100%);
  }
  45% {
    background: linear-gradient(162deg, #c89664 40%, #6496c8 100%);
  }
  46% {
    background: linear-gradient(165.6deg, #c89664 40%, #6496c8 100%);
  }
  47% {
    background: linear-gradient(169.2deg, #c89664 40%, #6496c8 100%);
  }
  48% {
    background: linear-gradient(172.8deg, #c89664 40%, #6496c8 100%);
  }
  49% {
    background: linear-gradient(176.4deg, #c89664 40%, #6496c8 100%);
  }
  50% {
    background: linear-gradient(180deg, #c89664 40%, #6496c8 100%);
  }
  51% {
    background: linear-gradient(183.6deg, #c89664 40%, #6496c8 100%);
  }
  52% {
    background: linear-gradient(187.2deg, #c89664 40%, #6496c8 100%);
  }
  53% {
    background: linear-gradient(190.8deg, #c89664 40%, #6496c8 100%);
  }
  54% {
    background: linear-gradient(194.4deg, #c89664 40%, #6496c8 100%);
  }
  55% {
    background: linear-gradient(198deg, #c89664 40%, #6496c8 100%);
  }
  56% {
    background: linear-gradient(201.6deg, #c89664 40%, #6496c8 100%);
  }
  57% {
    background: linear-gradient(205.2deg, #c89664 40%, #6496c8 100%);
  }
  58% {
    background: linear-gradient(208.8deg, #c89664 40%, #6496c8 100%);
  }
  59% {
    background: linear-gradient(212.4deg, #c89664 40%, #6496c8 100%);
  }
  60% {
    background: linear-gradient(216deg, #c89664 40%, #6496c8 100%);
  }
  61% {
    background: linear-gradient(219.6deg, #c89664 40%, #6496c8 100%);
  }
  62% {
    background: linear-gradient(223.2deg, #c89664 40%, #6496c8 100%);
  }
  63% {
    background: linear-gradient(226.8deg, #c89664 40%, #6496c8 100%);
  }
  64% {
    background: linear-gradient(230.4deg, #c89664 40%, #6496c8 100%);
  }
  65% {
    background: linear-gradient(234deg, #c89664 40%, #6496c8 100%);
  }
  66% {
    background: linear-gradient(237.6deg, #c89664 40%, #6496c8 100%);
  }
  67% {
    background: linear-gradient(241.2deg, #c89664 40%, #6496c8 100%);
  }
  68% {
    background: linear-gradient(244.8deg, #c89664 40%, #6496c8 100%);
  }
  69% {
    background: linear-gradient(248.4deg, #c89664 40%, #6496c8 100%);
  }
  70% {
    background: linear-gradient(252deg, #c89664 40%, #6496c8 100%);
  }
  71% {
    background: linear-gradient(255.6deg, #c89664 40%, #6496c8 100%);
  }
  72% {
    background: linear-gradient(259.2deg, #c89664 40%, #6496c8 100%);
  }
  73% {
    background: linear-gradient(262.8deg, #c89664 40%, #6496c8 100%);
  }
  74% {
    background: linear-gradient(266.4deg, #c89664 40%, #6496c8 100%);
  }
  75% {
    background: linear-gradient(270deg, #c89664 40%, #6496c8 100%);
  }
  76% {
    background: linear-gradient(273.6deg, #c89664 40%, #6496c8 100%);
  }
  77% {
    background: linear-gradient(277.2deg, #c89664 40%, #6496c8 100%);
  }
  78% {
    background: linear-gradient(280.8deg, #c89664 40%, #6496c8 100%);
  }
  79% {
    background: linear-gradient(284.4deg, #c89664 40%, #6496c8 100%);
  }
  80% {
    background: linear-gradient(288deg, #c89664 40%, #6496c8 100%);
  }
  81% {
    background: linear-gradient(291.6deg, #c89664 40%, #6496c8 100%);
  }
  82% {
    background: linear-gradient(295.2deg, #c89664 40%, #6496c8 100%);
  }
  83% {
    background: linear-gradient(298.8deg, #c89664 40%, #6496c8 100%);
  }
  84% {
    background: linear-gradient(302.4deg, #c89664 40%, #6496c8 100%);
  }
  85% {
    background: linear-gradient(306deg, #c89664 40%, #6496c8 100%);
  }
  86% {
    background: linear-gradient(309.6deg, #c89664 40%, #6496c8 100%);
  }
  87% {
    background: linear-gradient(313.2deg, #c89664 40%, #6496c8 100%);
  }
  88% {
    background: linear-gradient(316.8deg, #c89664 40%, #6496c8 100%);
  }
  89% {
    background: linear-gradient(320.4deg, #c89664 40%, #6496c8 100%);
  }
  90% {
    background: linear-gradient(324deg, #c89664 40%, #6496c8 100%);
  }
  91% {
    background: linear-gradient(327.6deg, #c89664 40%, #6496c8 100%);
  }
  92% {
    background: linear-gradient(331.2deg, #c89664 40%, #6496c8 100%);
  }
  93% {
    background: linear-gradient(334.8deg, #c89664 40%, #6496c8 100%);
  }
  94% {
    background: linear-gradient(338.4deg, #c89664 40%, #6496c8 100%);
  }
  95% {
    background: linear-gradient(342deg, #c89664 40%, #6496c8 100%);
  }
  96% {
    background: linear-gradient(345.6deg, #c89664 40%, #6496c8 100%);
  }
  97% {
    background: linear-gradient(349.2deg, #c89664 40%, #6496c8 100%);
  }
  98% {
    background: linear-gradient(352.8deg, #c89664 40%, #6496c8 100%);
  }
  99% {
    background: linear-gradient(356.4deg, #c89664 40%, #6496c8 100%);
  }
  100% {
    background: linear-gradient(360deg, #c89664 40%, #6496c8 100%);
  }
}
ol {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(10, 1fr);
  list-style: none;
}

li {
  display: grid !important;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
li::before, li::after {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
li::before {
  color: white;
  font-size: 2.6vw;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
li:hover {
  transform: rotateY(180deg);
}
li::after {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  transform: rotateY(180deg);
}
li:nth-child(1)::before {
  background: rgba(220, 220, 220, 0.3805382204);
}
li:nth-child(2)::before {
  background: rgba(220, 220, 220, 0.7968424044);
}
li:nth-child(3)::before {
  background: rgba(220, 220, 220, 0.6995325867);
}
li:nth-child(4)::before {
  background: rgba(220, 220, 220, 0.3380263754);
}
li:nth-child(5)::before {
  background: rgba(220, 220, 220, 0.6006195289);
}
li:nth-child(6)::before {
  background: rgba(220, 220, 220, 0.7593861811);
}
li:nth-child(7)::before {
  background: rgba(220, 220, 220, 0.6570795745);
}
li:nth-child(8)::before {
  background: rgba(220, 220, 220, 0.3363484924);
}
li:nth-child(9)::before {
  background: rgba(220, 220, 220, 0.9070366411);
}
li:nth-child(10)::before {
  background: rgba(220, 220, 220, 0.7487789198);
}
li:nth-child(11)::before {
  background: rgba(220, 220, 220, 0.7261275666);
}
li:nth-child(12)::before {
  background: rgba(220, 220, 220, 0.9527574681);
}
li:nth-child(13)::before {
  background: rgba(220, 220, 220, 0.7101051505);
}
li:nth-child(14)::before {
  background: rgba(220, 220, 220, 0.78859943);
}
li:nth-child(15)::before {
  background: rgba(220, 220, 220, 0.8015956112);
}
li:nth-child(16)::before {
  background: rgba(220, 220, 220, 0.558682788);
}
li:nth-child(17)::before {
  background: rgba(220, 220, 220, 0.5361154028);
}
li:nth-child(18)::before {
  background: rgba(220, 220, 220, 0.656484171);
}
li:nth-child(19)::before {
  background: rgba(220, 220, 220, 0.315009917);
}
li:nth-child(20)::before {
  background: rgba(220, 220, 220, 0.4156978118);
}
li:nth-child(21)::before {
  background: rgba(220, 220, 220, 0.4681734398);
}
li:nth-child(22)::before {
  background: rgba(220, 220, 220, 0.5946267584);
}
li:nth-child(23)::before {
  background: rgba(220, 220, 220, 0.6522073764);
}
li:nth-child(24)::before {
  background: rgba(220, 220, 220, 0.1754665156);
}
li:nth-child(25)::before {
  background: rgba(220, 220, 220, 0.2381390475);
}
li:nth-child(26)::before {
  background: rgba(220, 220, 220, 0.7433998366);
}
li:nth-child(27)::before {
  background: rgba(220, 220, 220, 0.3485552113);
}
li:nth-child(28)::before {
  background: rgba(220, 220, 220, 0.9257580379);
}
li:nth-child(29)::before {
  background: rgba(220, 220, 220, 0.9132773419);
}
li:nth-child(30)::before {
  background: rgba(220, 220, 220, 0.2472614324);
}
li:nth-child(31)::before {
  background: rgba(220, 220, 220, 0.4986453237);
}
li:nth-child(32)::before {
  background: rgba(220, 220, 220, 0.470755829);
}
li:nth-child(33)::before {
  background: rgba(220, 220, 220, 0.5034144113);
}
li:nth-child(34)::before {
  background: rgba(220, 220, 220, 0.1398314799);
}
li:nth-child(35)::before {
  background: rgba(220, 220, 220, 0.7523391548);
}
li:nth-child(36)::before {
  background: rgba(220, 220, 220, 0.7877301189);
}
li:nth-child(37)::before {
  background: rgba(220, 220, 220, 0.9528042108);
}
li:nth-child(38)::before {
  background: rgba(220, 220, 220, 0.0295090556);
}
li:nth-child(39)::before {
  background: rgba(220, 220, 220, 0.3267199429);
}
li:nth-child(40)::before {
  background: rgba(220, 220, 220, 0.1727774134);
}
li:nth-child(41)::before {
  background: rgba(220, 220, 220, 0.9103678209);
}
li:nth-child(42)::before {
  background: rgba(220, 220, 220, 0.3077855049);
}
li:nth-child(43)::before {
  background: rgba(220, 220, 220, 0.0274290831);
}
li:nth-child(44)::before {
  background: rgba(220, 220, 220, 0.8378439868);
}
li:nth-child(45)::before {
  background: rgba(220, 220, 220, 0.2009773531);
}
li:nth-child(46)::before {
  background: rgba(220, 220, 220, 0.3639311046);
}
li:nth-child(47)::before {
  background: rgba(220, 220, 220, 0.7140247962);
}
li:nth-child(48)::before {
  background: rgba(220, 220, 220, 0.9768583406);
}
li:nth-child(49)::before {
  background: rgba(220, 220, 220, 0.2270764147);
}
li:nth-child(50)::before {
  background: rgba(220, 220, 220, 0.068961859);
}
li:nth-child(51)::before {
  background: rgba(220, 220, 220, 0.4277865952);
}
li:nth-child(52)::before {
  background: rgba(220, 220, 220, 0.7940788945);
}
li:nth-child(53)::before {
  background: rgba(220, 220, 220, 0.6995585155);
}
li:nth-child(54)::before {
  background: rgba(220, 220, 220, 0.9804859993);
}
li:nth-child(55)::before {
  background: rgba(220, 220, 220, 0.2469467763);
}
li:nth-child(56)::before {
  background: rgba(220, 220, 220, 0.7707314788);
}
li:nth-child(57)::before {
  background: rgba(220, 220, 220, 0.0706314939);
}
li:nth-child(58)::before {
  background: rgba(220, 220, 220, 0.0642191257);
}
li:nth-child(59)::before {
  background: rgba(220, 220, 220, 0.3200550206);
}
li:nth-child(60)::before {
  background: rgba(220, 220, 220, 0.4673779754);
}
li:nth-child(61)::before {
  background: rgba(220, 220, 220, 0.7961212374);
}
li:nth-child(62)::before {
  background: rgba(220, 220, 220, 0.1451062507);
}
li:nth-child(63)::before {
  background: rgba(220, 220, 220, 0.4581539953);
}
li:nth-child(64)::before {
  background: rgba(220, 220, 220, 0.5337508636);
}
li:nth-child(65)::before {
  background: rgba(220, 220, 220, 0.5648967329);
}
li:nth-child(66)::before {
  background: rgba(220, 220, 220, 0.8033701394);
}
li:nth-child(67)::before {
  background: rgba(220, 220, 220, 0.5481397329);
}
li:nth-child(68)::before {
  background: rgba(220, 220, 220, 0.2147871263);
}
li:nth-child(69)::before {
  background: rgba(220, 220, 220, 0.9425901623);
}
li:nth-child(70)::before {
  background: rgba(220, 220, 220, 0.7935484703);
}
li:nth-child(71)::before {
  background: rgba(220, 220, 220, 0.5860683595);
}
li:nth-child(72)::before {
  background: rgba(220, 220, 220, 0.5299912925);
}
li:nth-child(73)::before {
  background: rgba(220, 220, 220, 0.4361511766);
}
li:nth-child(74)::before {
  background: rgba(220, 220, 220, 0.7438479347);
}
li:nth-child(75)::before {
  background: rgba(220, 220, 220, 0.3915289734);
}
li:nth-child(76)::before {
  background: rgba(220, 220, 220, 0.3504989908);
}
li:nth-child(77)::before {
  background: rgba(220, 220, 220, 0.5104194871);
}
li:nth-child(78)::before {
  background: rgba(220, 220, 220, 0.4483321931);
}
li:nth-child(79)::before {
  background: rgba(220, 220, 220, 0.4466861241);
}
li:nth-child(80)::before {
  background: rgba(220, 220, 220, 0.1529360022);
}
li:nth-child(81)::before {
  background: rgba(220, 220, 220, 0.8659812829);
}
li:nth-child(82)::before {
  background: rgba(220, 220, 220, 0.5855941331);
}
li:nth-child(83)::before {
  background: rgba(220, 220, 220, 0.5939351902);
}
li:nth-child(84)::before {
  background: rgba(220, 220, 220, 0.4451410036);
}
li:nth-child(85)::before {
  background: rgba(220, 220, 220, 0.319742436);
}
li:nth-child(86)::before {
  background: rgba(220, 220, 220, 0.9347120258);
}
li:nth-child(87)::before {
  background: rgba(220, 220, 220, 0.382807963);
}
li:nth-child(88)::before {
  background: rgba(220, 220, 220, 0.1023189029);
}
li:nth-child(89)::before {
  background: rgba(220, 220, 220, 0.327421823);
}
li:nth-child(90)::before {
  background: rgba(220, 220, 220, 0.9431472046);
}
li:nth-child(91)::before {
  background: rgba(220, 220, 220, 0.175985994);
}
li:nth-child(92)::before {
  background: rgba(220, 220, 220, 0.7745573259);
}
li:nth-child(93)::before {
  background: rgba(220, 220, 220, 0.9664775274);
}
li:nth-child(94)::before {
  background: rgba(220, 220, 220, 0.3079310083);
}
li:nth-child(95)::before {
  background: rgba(220, 220, 220, 0.7077027485);
}
li:nth-child(96)::before {
  background: rgba(220, 220, 220, 0.3235510556);
}
li:nth-child(97)::before {
  background: rgba(220, 220, 220, 0.5783433165);
}
li:nth-child(98)::before {
  background: rgba(220, 220, 220, 0.888296761);
}
li:nth-child(99)::before {
  background: rgba(220, 220, 220, 0.7396369108);
}
li:nth-child(100)::before {
  background: rgba(220, 220, 220, 0.2005464957);
}