.character {
    position: absolute;
    perspective: 800px;
    transform: scale(0.5) translate(100vw, 100vh);
    will-change: transform;
    transition: transform 0.5s linear;
}

.character.selected::before {
    content: '';
    position: absolute;
    top: -150px;
    left: -80px;
    width: 160px;
    height: 10px;
    background-color: green;
}

.character * {
    transform-style: preserve-3d;
    will-change: transform;
    z-index: 10;
}

.character .face {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: -50px;
    opacity: 0.5;
    transition: transform 0.2s ease-in-out;
    border: solid rgba(0, 162, 255, 1) 5px;
    background: rgba(0, 162, 255, 0.219);
    box-sizing: border-box;
}

.character .y-rotation {
    transform: rotateY(-40deg);
    transition: transform 0.1s ease-in-out;
}

.character .x-rotation {
    transform: rotateX(-35deg);
    transition: transform 0.1s ease-in-out;
}

.character .z-rotation {
    transform: rotateZ(22deg);
    transition: transform 0.1s ease-in-out;
}

.character .head .face-1 {
    transform: translateZ(50px);
}

.character .head .face-2 {
    transform: rotateY(90deg) translateZ(50px);
}
.character .head .face-3 {
    transform: rotateY(180deg) translateZ(50px);
}
.character .head .face-4 {
    transform: rotateY(-90deg) translateZ(50px);
}
.character .head .face-5 {
    transform: rotateX(90deg) translateZ(50px);
}
.character .head .face-6  {
    transform: rotateX(-90deg) translateZ(50px);
}

/*** BODY ***/

.character .body {
    position: absolute;
    top: 100px;
    left: -12.5px;
}
.character .body .face-1 {
    height: 210px;
    width: 130px;
    transform: translateZ(25px);
}
.character .body .face-2 {
    height: 210px;
    width: 50px;
    transform: rotateY(-90deg) translateZ(25px);
}
.character .body .face-3 {
    height: 210px;
    width: 50px;
    transform: rotateY(90deg) translateZ(105px);
}
.character .body .face-4 {
    height: 50px;
    width: 130px;
    transform: rotateX(90deg) translateZ(25px);
}
.character .body .face-5 {
    height: 210px;
    width: 130px;
    transform: translateZ(-25px);
}
.character .body .face-6 {
    height: 50px;
    width: 130px;
    transform: rotateX(-90deg) translateZ(185px);
}

/*** LEFT-ARM ***/

.character .left-arm {
    position: absolute;
    top: 100px;
    left: 116px;
    transform-origin: center -40px;
}

.character.animated .left-arm{
    animation: members-move 0.3s ease-in-out infinite alternate forwards;
}

.character .left-arm .face-1 {
    height: 130px;
    width: 30px;
    transform: translateZ(25px);
}
.character .left-arm .face-2 {
    height: 130px;
    width: 50px;
    transform: rotateY(-90deg) translateZ(25px);
}
.character .left-arm .face-3 {
    height: 130px;
    width: 50px;
    transform: rotateY(90deg) translateZ(5px);
}
.character .left-arm .face-4 {
    height: 50px;
    width: 30px;
    transform: rotateX(90deg) translateZ(25px);
}
.character .left-arm .face-5 {
    height: 130px;
    width: 30px;
    transform: translateZ(-25px);
}
.character .left-arm .face-6 {
    height: 50px;
    width: 30px;
    transform: rotateX(-90deg) translateZ(105px);
}

/*** RIGHT-ARM ***/

.character .right-arm {
    position: absolute;
    top: 100px;
    left: -43px;
    transform-origin: center -40px;
}

.character.animated .right-arm {
    animation: members-move 0.3s ease-in-out infinite alternate-reverse forwards;
}

.character .right-arm .face-1 {
    height: 130px;
    width: 30px;
    transform: translateZ(25px);
}
.character .right-arm .face-2 {
    height: 130px;
    width: 50px;
    transform: rotateY(-90deg) translateZ(25px);
}
.character .right-arm .face-3 {
    height: 130px;
    width: 50px;
    transform: rotateY(90deg) translateZ(5px);
}
.character .right-arm .face-4 {
    height: 50px;
    width: 30px;
    transform: rotateX(90deg) translateZ(25px);
}
.character .right-arm .face-5 {
    height: 130px;
    width: 30px;
    transform: translateZ(-25px);
}
.character .right-arm .face-6 {
    height: 50px;
    width: 30px;
    transform: rotateX(-90deg) translateZ(105px);
}

/*** LEFT-LEG ***/

.character .left-leg {
    position: absolute;
    top: 310px;
    left: 10px;
    transform-origin: center -40px;
}

.character.animated .left-leg {
    animation: members-move 0.3s ease-in-out infinite alternate forwards;
}

.character .left-leg .face-1 {
    height: 130px;
    width: 30px;
    transform: translateZ(25px);
}
.character .left-leg .face-2 {
    height: 130px;
    width: 50px;
    transform: rotateY(-90deg) translateZ(25px);
}
.character .left-leg .face-3 {
    height: 130px;
    width: 50px;
    transform: rotateY(90deg) translateZ(5px);
}
.character .left-leg .face-4 {
    height: 50px;
    width: 30px;
    transform: rotateX(90deg) translateZ(25px);
}
.character .left-leg .face-5 {
    height: 130px;
    width: 30px;
    transform: translateZ(-25px);
}
.character .left-leg .face-6 {
    height: 50px;
    width: 30px;
    transform: rotateX(-90deg) translateZ(105px);
}

/*** RIGHT-LEG ***/

.character .right-leg {
    position: absolute;
    top: 310px;
    left: 60px;
    transform-origin: center -40px;
}

.character.animated .right-leg {
    animation: members-move 0.3s ease-in-out infinite alternate-reverse forwards;
}

.character .right-leg .face-1 {
    height: 130px;
    width: 30px;
    transform: translateZ(25px);
}
.character .right-leg .face-2 {
    height: 130px;
    width: 50px;
    transform: rotateY(-90deg) translateZ(25px);
}
.character .right-leg .face-3 {
    height: 130px;
    width: 50px;
    transform: rotateY(90deg) translateZ(5px);
}
.character .right-leg .face-4 {
    height: 50px;
    width: 30px;
    transform: rotateX(90deg) translateZ(25px);
}
.character .right-leg .face-5 {
    height: 130px;
    width: 30px;
    transform: translateZ(-25px);
}
.character .right-leg .face-6 {
    height: 50px;
    width: 30px;
    transform: rotateX(-90deg) translateZ(105px);
}

/*** LEFT-FOOT ***/

.character .left-foot {
    position: absolute;
    top: 440px;
    left: 10px;
    transform-origin: center -170px;
}

.character.animated .left-foot {
    animation: members-move 0.3s ease-in-out infinite alternate forwards;
}

.character .left-foot .face-1 {
    height: 20px;
    width: 30px;
    transform: translateZ(65px);
}
.character .left-foot .face-2 {
    height: 20px;
    width: 90px;
    transform: rotateY(-90deg) translateZ(45px) translateX(20px);
}
.character .left-foot .face-3 {
    height: 20px;
    width: 90px;
    transform: rotateY(90deg) translateZ(-15px) translateX(-20px);
}
.character .left-foot .face-4 {
    height: 90px;
    width: 30px;
    transform: rotateX(90deg) translateZ(45px) translateY(20px);
}
.character .left-foot .face-5 {
    height: 20px;
    width: 30px;
    transform: translateZ(-25px);
}
.character .left-foot .face-6 {
    height: 90px;
    width: 30px;
    transform: rotateX(-90deg) translateZ(-25px) translateY(-20px);
}

/*** RIGHT-FOOT ***/

.character .right-foot {
    position: absolute;
    top: 440px;
    left: 60px;
    transform-origin: center -170px;
}

.character.animated .right-foot {
    animation: members-move 0.3s ease-in-out infinite alternate-reverse forwards;
}

.character .right-foot .face-1 {
    height: 20px;
    width: 30px;
    transform: translateZ(65px);
}
.character .right-foot .face-2 {
    height: 20px;
    width: 90px;
    transform: rotateY(-90deg) translateZ(45px) translateX(20px);
}
.character .right-foot .face-3 {
    height: 20px;
    width: 90px;
    transform: rotateY(90deg) translateZ(-15px) translateX(-20px);
}
.character .right-foot .face-4 {
    height: 90px;
    width: 30px;
    transform: rotateX(90deg) translateZ(45px) translateY(20px);
}
.character .right-foot .face-5 {
    height: 20px;
    width: 30px;
    transform: translateZ(-25px);
}
.character .right-foot .face-6 {
    height: 90px;
    width: 30px;
    transform: rotateX(-90deg) translateZ(-25px) translateY(-20px);
}

@keyframes members-move {
    0% {transform: rotateX(45deg)}
    100% {transform: rotateX(-45deg)}
}

body, html {
    margin: 0;
    padding: 0;
    width: 90vw;
    overflow: hidden;
    font-family: 'Saira', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shut-up {
    position: absolute;
    z-index: 50;
    top: 15px;
    left: 15px;
    cursor: pointer;
}
.shut-up a {
    color: white;
    text-decoration: none;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0),black);
    z-index: 5;
}

.grid {
    background: repeating-linear-gradient(#01060e,#000000);
    position: absolute;
    width: 400%;
    height: 400%;
    transform: rotateX(65deg) rotateZ(45deg);
    top: -180%;
    left: -150%;
    background-repeat: repeat;

}

.grid .vertical-stripes {
    width: 100%;
    height: 100%;
    position: absolute;
    background: repeating-linear-gradient(
        0deg,
        rgb(151, 217, 255),
        rgb(148, 216, 255) 2px,
        #ffffff00 2px,
        #ffffff00 100px
      );
    filter: blur(2px);
    z-index: -5;
    opacity: 0.5;
    background-repeat: repeat;
}
.grid .horizontal-stripes {
    width: 100%;
    height: 100%;
    position: absolute;
    background: repeating-linear-gradient(
        90deg,
        rgb(126, 208, 255),
        rgb(134, 210, 255) 2px,
        #ffffff00 2px,
        #ffffff00 100px
        );

    filter: blur(2px);
    z-index: -5;
    opacity: 0.5;
    background-repeat: repeat;
}

/*** HUD ***/

.hud-container {
    height: 21vh;
    width: 100vw;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 50;
}

div[class*="pannel-container"] {
    position: absolute;
    overflow: hidden;
    filter: none;
    transition: filter, transform 0.2s ease;
    transform: translateX(0);
    will-change: filter, transform;
}

div[class*="pannel-container"]:hover {
    filter: brightness(1.1);
}

div[class*="pannel-inner"] {
    position: absolute;
    box-shadow: inset blanchedalmond 0 0 30px, black 0 -30px 20px;
    background: rgb(1, 17, 46);
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

div[class*="pannel-inner"] button {
    width: 40%;
    height: 40px;
    color: white;
    background: rgba(0, 0, 0, 0.418);
    border: none;
    box-shadow: inset black 0 0 4px;
    filter: brightness(0.7);
    transition: box-shadow 0.2s ease;
    will-change: box-shadow;
    z-index: 10;
    cursor: pointer;
    font-family: 'Saira', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.pannel-container-1 {
    bottom: 0;
    right: 0;
    width: 35vw;
    height: 20vh;
    border-bottom: solid #0f476d 4px;
}

.pannel-inner-1 {
    border-left: solid #0f476d 4px;
    border-top: solid #0f476d 4px;
    transform: skewX(-30deg);
    height: 20vh;
    width: 35vw;
    right: -6vh;
    border-top-left-radius: 20px;
    flex-direction: row !important;
    justify-content: flex-start !important;
}

.pannel-inner-1 .btn-group  {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
}
.pannel-inner-1 button  {
    width: 10% !important;
}

.pannel-inner-1 button:hover {
    box-shadow: inset black 0 0 8px;
}

.pannel-inner-1 button span {
    transform: skew(30deg);
    display: inline-block;
}

/*** BUTTON STROKES ***/

.btn-group .move .arrow-bar{
    width: 20px;
    height: 0;
    border-top: 3px solid white;
    position: relative;
    bottom: 2px;
}
.btn-group .move .arrow-corner{
    width: 10px;
    height: 10px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
    position: absolute;
    top: -7px;
    right: 0;
}

.btn-group .stop .bar-1 {
    width: 20px;
    height: 0;
    border-top: 3px solid white;
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    left: -5px;
}
.btn-group .stop .bar-2 {
    width: 20px;
    height: 0;
    border-top: 3px solid white;
    transform: rotate(-45deg);
    position: absolute;
    top: -5px;
    left: -5px;
}
.btn-group .hold-position .bar-1 {
    width: 20px;
    height: 0;
    border-top: 3px solid white;
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    left: -5px;
}
.btn-group .hold-position .bar-2 {
    width: 20px;
    height: 0;
    border-top: 3px solid white;
    transform: rotate(-45deg);
    position: absolute;
    top: -5px;
    left: -5px;
}
.btn-group .hold-position .circle {
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    border-radius: 50%;
    top: -8px;
}
.btn-group .attack .bar-1 {
    width: 0;
    height: 20px;
    border-left: 3px solid white;
    position: absolute;
    top: -14px;
    left: 1px;
    box-shadow: #01060e -2px 0 0, #01060e 2px 0 0;
}
.btn-group .attack .bar-2 {
    width: 20px;
    height: 0;
    border-top: 3px solid white;
    position: absolute;
    top: -6px;
    left: -7px;
        box-shadow: #01060e -2px -2px 0, #01060e 0 2px 0;
}
.btn-group .attack .box {
    width: 14px;
    height: 14px;
    border: 3px solid white;
    position: absolute;
    top: -14px;
    left: -8px;
    z-index: -5;
}

.btn-group .patrol .bar {
    width: 25px;
    height: 0;
    border-top: 3px dotted white;
    position: absolute;
    bottom: 2px;
    transform: rotate(-47deg);
    top: -7px;
    left: -7px;
}
.btn-group .patrol .corner-1 {
    width: 10px;
    height: 10px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    position: absolute;
    top: -18px;
    left: 6px;
}
.btn-group .patrol .corner-2 {
    width: 10px;
    height: 10px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    position: absolute;
    top: -5px;
    right: -3px;
}

.btn-group button.active div > div {
    border-color: #3fc03f !important;
}

.btn-group button.active .hold-position > div {
    background-color: #3fc03f !important;
}

/*** HUD BACKGROUND EFFECTS ***/

.waves {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(255,255,255,0.09) 50%,rgba(125,185,232,0) 100%);
    animation: waves 2s linear infinite;
    position: absolute;
}

.stripes {
    height: 100%;
    width: 100%;
    background: repeating-linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.432),
        rgba(255, 255, 255, 0.418) 0.7px,
        #ffffff00 0.7px,
        #ffffff00 5px
      );
      position: absolute;
      top: 0;
      animation: stripes-opacity 1s linear infinite alternate;
      z-index: -20;
}

.blue-grad {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, rgba(60,153,196,0.35) 0%,rgba(1,17,46,1) 49%,rgba(60,153,196, 0.35) 100%);
    z-index: -5;
    opacity: 0.6;
    transform: scaleY(1.2);
}

.pannel-container-2 {
    bottom: 0;
    left: 0;
    width: 35vw;
    height: 20vh;
    border-bottom: solid #0f476d 4px;
}

.pannel-inner-2 {
    border-right: solid #0f476d 4px;
    border-top: solid #0f476d 4px;
    transform: skewX(30deg);
    height: 20vh;
    width: 35vw;
    left: -6vh;
    border-top-right-radius: 20px;
}


.pannel-inner-2 button:hover {
    box-shadow: inset black 0 0 8px;
}


.pannel-inner-2 button span {
    transform: skew(-30deg);
    display: inline-block;
}

.pannel-container-3 {
    bottom: 0;
    left: 25vw;
    width: 51%;
    height: 18vh;
    border-top: solid #0f476d 4px;
    z-index: -5;
    box-shadow: inset blanchedalmond 0 0 20px;
    border-bottom: solid #0f476d 4px;
}

.pannel-inner-3 {
    height: 20vh;
    width: 100%;
    box-shadow: none !important;
    background: initial !important;
}

@keyframes waves {
    from {transform: translateY(90%);}
    to {transform: translateY(-90%);}
}

@keyframes stripes-opacity {
    from {opacity: 0.6;}
    to {opacity: 0.8;}
}

/*** FRAME WITH THE HEAD OF THE CHARACTER WHEN SELECTED ***/

.frame {
    border: solid aqua 2px;
    position: absolute;
    top: 15px;
    right: 15px;
    overflow: hidden;
    display: none;
    height: 20%;
    width: 15%;
}

.frame.visible {
    animation: frame-appear 0.1s linear 0.1s 1 backwards;
}

@keyframes frame-appear {
    0% {transform: scaleX(3) scaleY(0)}
    100% {transform: scaleX(1) scaleY(1)}
}

.frame .interferences {
    position: absolute;
    width: 100%;
    height: 200%;
    background: repeating-linear-gradient(
        0deg,
        rgb(126, 208, 255),
        rgb(134, 210, 255) 0.5px,
        #ffffff00 2px,
        #ffffff00 3px
        );
        opacity: 0.3;

    animation: interferences 0.2s linear infinite forwards;
}

@keyframes interferences {
    0% {transform: translateY(0);}
    100% {transform: translateY(-5%);}
}

.visible {
    display: flex !important;
}

.character.framed {
    position: absolute;
    transform: scale(0.8);
    top: 40%;
    left: 50%;
}

.character.framed .head {
    will-change: transform;
    transition: transform 1s ease-in-out;
    animation: frame-chara-head 20s ease-in-out 2s infinite;
}

.character.framed div[class$="arm"] {
    transition: transform 1s ease-in-out;
    will-change: transformation;
    animation: frame-chara-arms 1.5s ease-in-out infinite alternate both;
}

@keyframes frame-chara-head {
    0% {transform: rotateY(0) rotateX(0);}
    5% {transform: rotateY(-25deg) rotateX(-5deg);}
    10% {transform: rotateY(-25deg) rotateX(-5deg);}
    15% {transform: rotateY(25deg) rotateX(-5deg);}
    20% {transform: rotateY(25deg) rotateX(-5deg);}
    30% {transform: rotateY(0) rotateX(0);}
    100% {transform: rotateY(0) rotateX(0);}
}

@keyframes frame-chara-arms {
    0% {transform: translateY(0)}
    100% {transform: translateY(-5px)}
}

/*** ARROWS VISIBLE WHEN A MOVE IS PROCEEDEED ***/

.move-indicator {
    animation: move-indicator 0.7s linear infinite both;
    position: absolute;
    top: 50px;
    left: 50px;
    perspective: 800px;
    transform-style: preserve-3d;
    display: none;
}

.move-indicator .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(126, 208, 255);
    opacity: 1;
}

.move-indicator .triangle:nth-of-type(1) {
    transform: rotateX(-20deg) translateZ(2px);
    animation: mv-id-triangle-1 0.7s linear infinite both;
}
.move-indicator .triangle:nth-of-type(2) {
    transform: rotateX(20deg) translateZ(-2px);
    animation: mv-id-triangle-2 0.7s linear infinite both;

}
.move-indicator .triangle:nth-of-type(3) {
    transform: rotateY(90deg) rotateX(20deg) translateZ(-2px);
    animation: mv-id-triangle-3 0.7s linear infinite both;

}
.move-indicator .triangle:nth-of-type(4) {
    transform: rotateY(-90deg) rotateX(20deg) translateZ(-2px);
    animation: mv-id-triangle-4 0.7s linear infinite both;

}

@keyframes move-indicator {
    0% {transform: rotateX(-25deg) rotateY(-45deg);}
    100% {transform: rotateX(-25deg) rotateY(0deg);}
}

@keyframes mv-id-triangle-1 {
    0% {
        transform: rotateX(-50deg) translateZ(20px) translateY(-15px);
    }
    100% {
        transform: rotateX(-20deg) translateZ(10px) translateY(-5px);
    }
}
@keyframes mv-id-triangle-2 {
    0% {
        transform: rotateX(50deg) translateZ(-20px) translateY(-15px);
    }
    100% {
        transform: rotateX(20deg) translateZ(-10px) translateY(-5px);
    }
}

@keyframes mv-id-triangle-3 {
    0% {
        transform: rotateY(90deg) rotateX(50deg) translateZ(-20px) translateY(-15px);
    }
    100% {
        transform: rotateY(90deg) rotateX(20deg) translateZ(-10px) translateY(-5px);
    }
}
@keyframes mv-id-triangle-4 {
    0% {
        transform: rotateY(-90deg) rotateX(50deg) translateZ(-20px) translateY(-15px);
    }
    100% {
        transform: rotateY(-90deg) rotateX(20deg) translateZ(-10px) translateY(-5px);
    }
}

/*** UNIT VOICE INDICATOR ***/

.voice-indicator {
    position: absolute;
    width: 15%;
    height: 12%;
    top: calc(20% + 30px);
    right: 15px;
    border: solid aqua 2px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    display: none;
}

.voice-indicator.visible {
    animation: frame-appear 0.1s linear 0.1s 1 backwards;
}

.voice-indicator div[class^="voice-inner"] {
    width: 5px;
    border-top: solid white 2px;
    height: 50%;
    will-change: transform;
    position: relative;
    bottom: 10px;
    opacity: 0.6;
}
.voice-indicator.animated div[class^="voice-inner"] {
    animation: voice-indicator 0.5s ease-in-out 6 alternate forwards;
}

@keyframes voice-indicator {
    0% {transform: translateY(0);}
    100% {transform: translateY(40px);}
}

.tuto-screen {
    background: #00000088;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: absolute;
    transition: all 0.2s ease;
    opacity: 0;
    will-change: opacity, display;
}
.tuto-screen.visible {
    opacity: 1;
}

.tuto-screen p, .tuto-screen button {
    color: white;
    background: none;
    font-size: 1.5rem;
}

.tuto-screen p {
    display: none;
    transition: all 0.2s ease;
    opacity: 0;
    will-change: opacity, display;
}
.tuto-screen p.visible {
    opacity: 1;
}
.tuto-screen button {
    padding: 5px 20px;
    transform: skew(30deg);
    border-color: white;
    perspective: none;
}
.tuto-screen button span {
    transform: skew(-30deg);
    display: inline-block;
}
