



#app {
  width: 90vw;
  height: 400px;
  position: fixed;
  top: 0px;
  z-index: 1;
  pointer-events: none;
}


#draggableForm {
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 10;
}

#dragHandle {
  position: absolute;
  top: 0;
  left: 0;
}


#chatWindow {
  position: fixed;
  height: auto;
}



/* For webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* For Firefox */
scrollbar-width: none;